<nav class="navbar fixed-top navbar-expand-md navbar-light bg-primary">
	<div class="container-fluid" id="navbarToggle">
		<a
			href="#"
			class="navbar-brand text-light"
			style="font-size: 25px; font-weight: bolder"
		>
			<i class="fas fa-tablet-alt text-light"></i> MY PROJECTS</a
		>
		<div class="nav ml-auto justify-content-end" style="font-size: 25px">
			<a
				href="https://www.linkedin.com/in/nick-gundobin-5b905931/"
				class="nav-item nav-link active"
				id="linkedin"
				><i class="fab fa-linkedin text-light"></i
			></a>
			<a
				href="http://github.com/nikgun1984"
				class="nav-item nav-link"
				id="github"
				><i class="fab fa-github text-light"></i
			></a>
		</div>
	</div>
</nav>
